.alert-warning {
  background-color: var(--color-attention-subtle);
  border-color: var(--color-attention-emphasis);
}

.alert-danger {
  background-color: var(--color-danger-subtle);
  border-color: var(--color-danger-emphasis);
}