.form-control {
  background-color: var(--color-canvas-default);
  border-color: var(--color-border-default);
  color: var(--color-fg-default);

  &:hover, &:active, &:focus {
    background-color: var(--color-canvas-default);
    border-color: var(--color-border-default);
    color: var(--color-fg-default);
  }
}