.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.875rem;
}

.text-primary {
  color: var(--color-fg-default) !important;
}

.text-secondary {
  color: var(--color-fg-muted) !important;
}

.text-orange {
  color: var(--color-severe-fg) !important;
}

.text-sponsors {
  color: var(--color-sponsors-fg) !important;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}