.repo-card {
  &__link {
    text-decoration: none;

    &:hover &-content {
      text-decoration: underline;
    }
  }

  &__stats-link {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-accent-fg) !important;
    }
  }

  &__avatar {
    height: 20px;

    &--big {
      height: 60px;
    }
  }

  &__tooltip {
    background-color: var(--color-canvas-subtle) !important;
    border-color: var(--color-border-default) !important;
    opacity: 1 !important;
    padding: 0 !important;
    width: 340px;
  }
}